.BoxRed {
    margin: 40px;
    border: 2px solid red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }
  .BoxGreen {
    margin: 40px;
    border: 2px solid green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }
.main-frame {
    width: 20%;
    border-radius: 50px;
    border: 2px solid black;
    height: 480px;
    text-align: left;
    overflow-x: scroll;
}
input[type="text"]{width:120px;}
.textbox1 {
  width: 50px;
}
.main-frame::-webkit-scrollbar{
  display: none;
}
.show-todos{
  position:"absolute";
  left: 400px;
  top: 0px;
}